*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
    text-align: center;
    width: 100%;
    color: aliceblue;
    margin: 30px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 30px;
}

.input-field{
    display: flex;
    flex-direction: column;

}

.input-value{
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.submit{
    background-color: rgba(9,9,121,1);
    border-radius: 5px;
    color: aliceblue;
    margin: 10px;
}

.submit:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%);
    color: black;
    cursor: pointer;
}

.weather-display{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
}


.forecast-container{
    background-color: rgba(9,9,121,1);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

.forecast{
    text-align: center;

}

.hide {
    display: none;
}

.history{
    background-color: skyblue;
    border-radius: 5px;
    color: black;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px black solid;
    box-shadow: 0 8px 6px -6px black;
    
}

.history:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 0%);
    color: whitesmoke;
    cursor: pointer;
}


.good{
    background-color: green;
    color: aliceblue;
    border-radius: 2px;
    border: 2px solid black;
    width: fit-content;
}

.moderate{
    background-color: yellow;
    color: black;
    border-radius: 2px;
    border: 2px solid black;
    width: fit-content;
}


.high{
    background-color: orange;
    color: black;
    border-radius: 2px;
    border: 2px solid black;
    width: fit-content;
}


.very-high{
    background-color: red;
    color: black;
    border-radius: 2px;
    border: 2px solid black;
    width: fit-content;
}


.extreme{
    background-color: purple;
    color: aliceblue;
    border-radius: 2px;
    border: 2px solid black;
    width: fit-content;
}


#forecast-container{
    display: flex;

}

.city-contianer{
    display: flex;
    justify-content: center;
    align-items: center;
}